<div class="login-page" *ngIf="!showSignup">
  <div class="login-card">

    <div class="text-center mb-4">
      <div class="logo">
        <i class="bi bi-person-circle"></i>
      </div>
      <h2>Welcome Back</h2>
      <p class="text-muted">Login to your account</p>
    </div>

    <form (ngSubmit)="Submitted=true;LoginSubmit(loginForm)" #loginForm="ngForm">

       <!-- Email -->
  <div class="form-group mb-3">
    <label>Email Address</label>

    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-envelope"></i>
      </span>

      <input
        type="email"
        class="form-control"
        placeholder="Enter your email"
        name="loginemail"
        required
        email
        [(ngModel)]="logindata.email"
        #loginemail="ngModel">
    </div>

    <div class="text-danger" *ngIf="loginemail.invalid && (loginemail.touched || Submitted)">
      <span *ngIf="loginemail.errors?.['required']">
        Email is required
      </span>

      <span *ngIf="loginemail.errors?.['email']">
        Enter a valid email
      </span>
    </div>
  </div>

      
<div class="form-group mb-3">
    <label>Password</label>

    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-lock"></i>
      </span>

      <input
        type="password"
        class="form-control"
        placeholder="Enter your password"
        name="password"
        required
        [(ngModel)]="logindata.password"
        #password="ngModel">
    </div>

    <div class="text-danger" *ngIf="password.invalid && (password.touched || Submitted)">
      Password is required
    </div>
  </div>


      <div class="d-flex justify-content-between mb-3">
        <div>
          <input type="checkbox" class="form-check-input">
          <span class="ms-1">Remember me</span>
        </div>

        <a href="#" class="forgot">
          Forgot Password?
        </a>
      </div>


      <button class="btn login-btn w-100">
        Login
      </button>


      <div class="text-center mt-4">
        <span>Don't have an account?</span>
        <a  (click)="showSignup = true" class="signup"> Sign Up</a>
      </div>

    </form>

  </div>
</div>

<!-- Signup Page -->
<div class="login-page" *ngIf="showSignup">
  <div class="login-card">

    <div class="text-center mb-4">
      <div class="logo">
        <i class="bi bi-person-plus-fill"></i>
      </div>
      <h2>Create Account</h2>
      <p class="text-muted">Sign up to continue</p>
    </div>

   <form #signupForm="ngForm" (ngSubmit)="Submitted=true;SignUpSubmit(signupForm)">

  <!-- Full Name -->
  <div class="form-group mb-3">
    <label>Full Name</label>

    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-person"></i>
      </span>

      <input
        type="text"
        class="form-control"
        placeholder="Enter your full name"
        name="username"
        required
        [(ngModel)]="signupdata.username"
        #username="ngModel">
    </div>

    <div class="text-danger" *ngIf="username.invalid && (username.touched || Submitted)">
      Full name is required
    </div>
  </div>


  <!-- Email -->
  <div class="form-group mb-3">
    <label>Email Address</label>

    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-envelope"></i>
      </span>

      <input
        type="email"
        class="form-control"
        placeholder="Enter your email"
        name="email"
        required
        email
        [(ngModel)]="signupdata.email"
        #email="ngModel">
    </div>

    <div class="text-danger" *ngIf="email.invalid && (email.touched || Submitted)">
      <span *ngIf="email.errors?.['required']">
        Email is required
      </span>

      <span *ngIf="email.errors?.['email']">
        Enter a valid email
      </span>
    </div>
  </div>

 <!-- Phone Number -->
  <div class="form-group mb-3">
    <label>Phone Number</label>

    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-phone"></i>
      </span>

      <input
        type="tel"
        class="form-control"
        placeholder="Enter your phone number"
        name="phonenumber"
        required
        [(ngModel)]="signupdata.phonenumber"
        #phonenumber="ngModel">
    </div>

    <div class="text-danger" *ngIf="phonenumber.invalid && (phonenumber.touched || Submitted)">
      <span *ngIf="phonenumber.errors?.['required']">
        Phone number is required
      </span>
    </div>
  </div>

  <!-- Password -->
  <div class="form-group mb-3">
    <label>Password</label>

    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-lock"></i>
      </span>

      <input
        type="password"
        class="form-control"
        placeholder="Create password"
        name="password"
        required
        [(ngModel)]="signupdata.password"
        #password="ngModel">
    </div>

    <div class="text-danger" *ngIf="password.invalid && (password.touched || Submitted)">
      Password is required
    </div>
  </div>


  <!-- Confirm Password -->
  <div class="form-group mb-3">
    <label>Confirm Password</label>

    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-shield-lock"></i>
      </span>

      <input
        type="password"
        class="form-control"
        placeholder="Confirm password"
        name="confirmPassword"
        required
        [(ngModel)]="signupdata.confirmPassword"
        #confirmPassword="ngModel">
    </div>

    <div class="text-danger" 
         *ngIf="confirmPassword.invalid && (confirmPassword.touched || Submitted)">
      Confirm password is required
    </div>

    <div class="text-danger"
         *ngIf="signupdata.password !== signupdata.confirmPassword 
                && confirmPassword.touched && Submitted">
      Passwords do not match
    </div>
  </div>


  <!-- Terms -->
  <div class="mb-3">
    <input 
      type="checkbox"
      class="form-check-input"
      name="terms"
      required
      ngModel
      #terms="ngModel">

    <span class="ms-1">
      I agree to the Terms & Conditions
    </span>

    <div class="text-danger" *ngIf="terms.invalid && (terms.touched || Submitted)">
      You must accept terms and conditions
    </div>
  </div>


  <!-- Submit -->
  <button 
    type="submit"
    class="btn login-btn w-100" >
    Sign Up
  </button>


  <div class="text-center mt-4">
    <span>Already have an account?</span>
    <a (click)="showSignup = false" class="signup">
      Login
    </a>
  </div>

</form>

  </div>
</div>