/* .student-dialog .mat-mdc-dialog-surface {
  border-radius: 16px !important;
  padding: 0 !important;
  overflow: hidden !important;
}

.student-dialog .mat-mdc-dialog-container {
  padding: 0 !important;
} */
